div.hero-unit
  h1 Schedule
  
  br
  br
  
  img(src="schedule1.jpg" alt="Schedule1")
  
  br
  
  img(src="schedule2.jpg" alt="Schedule2")
  
  br
  
  img(src="schedule3.jpg" alt="Schedule3")
    
