div.hero-unit
  h1 General Info
  
  br
  br
  
  p.
    You will be staying at the <a href="http://www.oakwood.com/action/oakwood/profile/propertyOverview?subprojectNbr=M544&furnished=true">Oakwood Philadelphia</a> located at a few blocks from the Comcast Center at:
    1601 Sansom Street, Philadelphia,  Pennsylvania  19103-5101  |  877.902.0832
  
  li.
    Minutes from night life, restaurants, and shopping areas along Walnut Street and Rittenhouse Square
  li.
    A short distance to museums, theatres, and historic monuments 
  li.
    Seven miles to the Philadelphia International Airport
  li.
    Convenient to Suburban Station for the Subway and Regional Rails
  li.
    Blocks from 30th  Street Station for Amtrak to NYC
  
  br
  
  p.
    Your residence includes:

  li.
    Linens
  li.
    Towels
  li.
    Household goods
  li.
    Tasteful furnishings
  li.
    Kitchen with full-size appliances; completely stocked with pots, pans and dishes
  li.
    All utilities
  li.
    High-speed Internet
  li.
    Expanded Basic cable service
  li.
    Local phone service
  li.
    Washer/Dryer in the apartment
 
  br 
 
  p.
    The Oakwood Philadelphia is located in the heart of the financial district. It is the perfect location for 
    working professionals that are also seeking to relax and unwind at night.  Surrounded by highly-rated 
    restaurants, guests enjoy a variety of skillfully crafted menus as well as Philly's top-rated and praised 
    beverage selection.  If shopping is on the agenda, the highly fashionable Walnut Street is one block away. 
    With parking not even one block away, the building's location is ideal for those that need to travel for 
    work, school or pleasure.  Each apartment is move-in ready with a fully-equipped kitchen, high-speed 
    internet, in-room washer and dryer, and large windows that allow in plenty of natural light if desired. 
    We are proud to offer amenities beyond typical corporate housing such as expanded concierge hours, 
    dry-cleaning services, continental breakfasts and a Marathon-Grill exclusive room service menu.

  br
  h2 Dress Code
  p.
    A majority of the time, dress will be business casual, but from time to time
    (i.e. meeting with Senior Leadership) you will need to wear business attire.
    Please read the attached PDF for a description of our code.

  p <a href='/Comcast Center Dress Code.pdf'>Comcast Dress Code Policy for HQ</a>
