div.well.sidebar-nav
  ul.nav.nav-list
    li.nav-header Before You Arrive
    li
      a(href='http://felix.apache.org/site/presentations.data/felix-apachecon-20071114.pdf') Felix Apache Presentation
    li
      a(href='http://wiki.buglabs.net/index.php/SDK_Install_Guide') SDK Install Guide
    li
      a(href='http://wiki.buglabs.net/index.php/Tutorial:Creating_a_Basic_Application') Creating a Basic Application
    li.nav-header Bios
    li
      a(href='/CHIP_intern_bios.docx') Intern Bios
    li
      a(href='#') Leadership Bios
    li.nav-header Getting Started
    li
      a(href='http://wiki.buglabs.net/index.php/Welcome_to_BUG_Wiki') Bug Labs Main Documentation
    li
      a(href='http://wiki.buglabs.net/index.php/Hardware:BUG_YT_Start_Guide') Bug Labs Start Guide
    li
      a(href='http://www.openembedded.org/wiki/Main_Page') OpenEmbedded
    li
      a(href='http://www.osgi.org/Specifications/HomePage') OSGi Specification
    li
      a(href='http://wiki.buglabs.net/index.php/Software:Manually_Compile_the_Kernel') Manually Compile BUGOS Kernel
    li.nav-header Comcast Wiki
    li
      a(href='#') Comcast Internal Portal
    li
      a(href='#') Comcast IT Overview
    li.nav-header The Internet of Things
    li
      a(href='http://www.bugswarm.com') BUGswarm
    li
      a(href='#') M2M Market Presentation
    li.nav-header CHIP Platform
    li
      a(href='#') Platform Overview
    li
      a(href='#') Hardware Tools
    li
      a(href='#') Software Tools
    li
      a(href='#') Tutorials
    li
      a(href='#', data-toggle='collapse', data-target='#project-collapse') Proposed Projects
      div#project-collapse.collapse
        ul.nav.nav-list
          li
            a(href='#') - Project 1
          li
            a(href='#') - Project 2
          li
            a(href='#') - Project 3
