div.row-fluid
  div.span3
    div.well.sidebar-nav
      ul.nav.nav-list
        li.nav-header Before You Arrive
        li
          a(href='http://felix.apache.org/site/presentations.data/felix-apachecon-20071114.pdf') Felix Apache Presentation
        li
          a(href='http://wiki.buglabs.net/index.php/SDK_Install_Guide') SDK Install Guide
        li
          a(href='http://wiki.buglabs.net/index.php/Tutorial:Creating_a_Basic_Application') Creating a Basic Application
        li.nav-header Bios
        li
          a(href='/CHIP_intern_bios.docx') Intern Bios
        li
          a(href='#') Leadership Bios
        li.nav-header Getting Started
        li
          a(href='http://wiki.buglabs.net/index.php/Welcome_to_BUG_Wiki') Bug Labs Main Documentation
        li
          a(href='http://wiki.buglabs.net/index.php/Hardware:BUG_YT_Start_Guide') Bug Labs Start Guide
        li
          a(href='http://www.openembedded.org/wiki/Main_Page') OpenEmbedded
        li
          a(href='http://www.osgi.org/Specifications/HomePage') OSGi Specification
        li
          a(href='http://wiki.buglabs.net/index.php/Software:Manually_Compile_the_Kernel') Manually Compile BUGOS Kernel
        li.nav-header Comcast Wiki
        li
          a(href='#') Comcast Internal Portal
        li
          a(href='#') Comcast IT Overview
        li.nav-header The Internet of Things
        li
          a(href='http://www.bugswarm.com') BUGswarm
        li
          a(href='#') M2M Market Presentation
        li.nav-header CHIP Platform
        li
          a(href='#') Platform Overview
        li
          a(href='#') Hardware Tools
        li
          a(href='#') Software Tools
        li
          a(href='#') Tutorials
        li
          a(href='#', data-toggle='collapse', data-target='#project-collapse') Proposed Projects
          div#project-collapse.collapse
            ul.nav.nav-list
              li
                a(href='#') - Project 1
              li
                a(href='#') - Project 2
              li
                a(href='#') - Project 3

  div.span9
    div.hero-unit
      h1 Comcast Hardware Innovation Platform
      br
      br
      p.
        Welcome Interns!  Today we are embarking on an exciting journey to
        create the next great application.  In order to accomplish this,
        Comcast has partnered with Bug Labs to deliver specific hardware and
        software modules.

      p.
        This system, named the Comcast Hardware Innovation Platform (CHIP)
        platform, will enable YOU to create the Internet of Things (IoT) and
        other robust applications. With your help, we will be building
        applications over the next few months, which we'll then be able to
        deliver immediately to the field for trials.

      p.
        Later this year, we'll be working with startups and Universities to
        get their applications running on the platform, and eventually, we
        hope to see your applications running in homes across the country.

      p.
        Please read on to learn more about the system, and feel free to visit
        the following links to learn more about Comcast and Bug Labs.

      br
      div.span2
        p
          a(href='http://www.comcast.com').btn.btn-primary.btn-large Comcast Website &raquo;
      div.span2
        p
          a(href='http://www.buglabs.net').btn.btn-danger.btn-large Bug Labs Website &raquo;

    div.row
      div.span6
        h2 Getting Started
        p.
          The credentials used to login to comcast.buglabs.net is your CHIP Community account.  In addition to providing access to the website, this account can be used with the BUG Application repository and BUGswarm.    
        p.
          To access all CHIP module documentation, datasheets, sample code and the forum, you'll need to create an account in GitHub.  Navigate to
          <a href="http://www.github.com"> http://www.github.com </a>
          and sign up for a free account.  Once you've successfully created and verified your account, send an email with your user name to matt.peddicord@buglabs.net in order to obtain access to the CHIP private repo: <a href="https://github.com/chipkit/Module-Libraries"> https://github.com/chipkit/Module-Libraries </a>.  This will be your one-stop shop for project collaboration, filing issues, and keeping up to date on all the latest code.

      div.span5


