div.hero-unit
  h1 Comcast Hardware Innovation Platform
  br
  br
  p.
    Welcome Interns!  Today we are embarking on an exciting journey to
    create the next great application.  In order to accomplish this,
    Comcast has partnered with Bug Labs to deliver specific hardware and
    software modules.

  p.
    This system, named the Comcast Hardware Innovation Platform (CHIP)
    platform, will enable YOU to create the Internet of Things (IoT) and
    other robust applications. With your help, we will be building
    applications over the next few months, which we'll then be able to
    deliver immediately to the field for trials.

  p.
    Later this year, we'll be working with startups and Universities to
    get their applications running on the platform, and eventually, we
    hope to see your applications running in homes across the country.

  p.
    Please read on to learn more about the system, and feel free to visit
    the following links to learn more about Comcast and Bug Labs.

  br
  div.span2
    p
      a(href='http://www.comcast.com').btn.btn-primary.btn-large Comcast Website &raquo;
  div.span2
    p
      a(href='http://www.buglabs.net').btn.btn-danger.btn-large Bug Labs Website &raquo;

div.row
  div.span6
    h2 Getting Started
    p.
      The credentials used to login to comcast.buglabs.net is your CHIP Community account.  In addition to providing access to the website, this account can be used with the BUG Application repository and BUGswarm.    
    p.
      To access the CHIP private repository, you'll need to create an account in GitHub.  Navigate to
      <a href="http://www.github.com"> http://www.github.com </a>
      and sign up for a free account (we suggest using the same login and password as used to access the CHIP Community).  Once you've successfully created and verified your account, send an email with your user name to matt.peddicord@buglabs.net

div.row
  div.span6
    h2 CHIP Hub
    p.
      The CHIP private repository in GitHub will give you access to CHIP module documentation, datasheets, sample code and the forum.  You can access it through your GitHub account, or directly at<a href="https://github.com/chipkit/CHIPHub"> https://github.com/chipkit/CHIPHub</a>.  This will be your one-stop shop for project collaboration, filing issues, and keeping up to date on all the latest code.


